@media (min-width: 868px) {

    @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


    /* hidden code */

    .phonenav {
        display: none;
    }

    :root {
        --primary: black;
        --secondery: white;
        --Tertiary: #58C819;
        --Quaternary: #1dbfbf;
    }


    body {
        /* background-color: rgb(147, 147, 170); */
        font-family: "Tilt Neon", sans-serif;
    }

    .main_container {
        width: 100vw;
        height: auto;

    }

    .topheader {
        width: 100%;
        height: 40px;
        background-color: white;
    }



    .D_top_nav {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .D_top_nav .list {
        list-style: none;
        font-size: 14px;
    }

    .D_top_nav .list a:not(:last-child) {
        display: block;
        padding: 8px 20px;
    }

    .sub_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;

        /* height: 120px; */
    }

    .Nsub_container {
        display: flex;
        align-items: center;
    }

    .socialMedia {
        width: 13%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .socialMedia a {
        width: 20px;
        height: 20px;

    }

    .header {
        position: relative;
        width: 100%;
        height: 90vh;
        z-index: -20;
        top: -100px;
    }

    .banner {
        position: absolute;
        /* top: -100px !important; */
        min-width: 100%;
        height: 100%;
        inset: 0px;
        object-position: center;
        object-fit: cover;
    }

    .nevbar {
        width: 100%;
        background-color: #111111ed;
        position: sticky;
        top: 0px;
        z-index: 10;
    }

    .logo {
        height: auto;
    }

    .herocall {
        width: 23px;
        fill: #58C819;
        margin-right: 7px;


    }

    .acall {
        color: #58C819;
        font-size: 18px;
        margin-right: 10px;
    }

    .navManu a:not(:last-child .acall) {
        font-size: 17px;
        color: white;

    }

    .getaquote {
        background-color: #58C819 !important;
        font-size: 15px !important;

    }

    .overlay {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.194);
    }

    .textonImg {
        position: absolute;
        width: 100%;
        /* height: 100%; */
        top: 150px;
        left: 50%;
        transform: translateX(-50%);

    }



    .main_heading {
        position: absolute;
        left: 100px;
        top: 80px;
        z-index: 10;


    }

    .main_heading h1 {
        font-size: 50px;
        color: white;
        width: 500px;

    }

    .main_heading h2 {
        font-size: 38px;
        color: white;
    }


    .destination {
        width: 650px;
        height: 70px;
        background-color: white;
        border-radius: 5px;
        margin-top: 40px;
    }

    .destination form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 5px;
        height: 100%;
        padding: 0px 10px;
        border-radius: 4px;


    }

    .destination form input {
        flex: 1;
        height: 50px;
        border: 2px solid rgb(176, 172, 172);
        padding: 0px 10px;
        border-radius: 4px;
        color: rgb(79, 76, 76);
        font-size: 18px;


    }

    .destination form button {
        flex: 1;
        background-color: #58C819;
        height: 50px;
        border-radius: 4px;

    }

    .destination form input::placeholder {
        color: rgb(124, 124, 124);
        font-size: 18px;
    }



    .experience {
        width: 100%;
        height: auto;
        padding-top: 80px;
        margin: auto;

    }

    .experience.m {
        width: 100%;
        height: auto;
        margin-top: -30px !important;
        margin: auto;
        padding-top: 0px;

    }

    .expeerienceHeading {
        width: 100%;
        margin: auto;
        background-color: #5AAAA0;
        color: white;
        padding: 20px 0px;
    }

    .expeerienceHeading h1 {
        font-size: 35px;
        text-align: black;
        font-weight: 700;
    }

    .expeerienceHeading p {
        font-size: 22px;
        text-align: black;
        font-weight: 600;
    }


    .serviceType {
        width: 100%;
        padding: 0px 30px;

        margin-top: 70px;
    }

    .maincard {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .card {
        flex: 1;
        height: 400px;
        border-radius: 8px;
        border: 1px solid #58C819;
        background-color: rgb(237, 237, 237);
        box-shadow: 1px 1px 15px #58C819;
        position: relative;


    }

    .card_overlay {
        position: absolute !important;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.482) !important;
        border-radius: 8px;
    }

    .maincard .card_1 {
        background-image: url('../images/MCM\ \ main\ banner_______.png');
        background-size: cover;
        background-position: bottom center !important;
        background-repeat: no-repeat;
    }

    .maincard .card_2 {
        background-image: url('../images/banner\ 1920x1280________.png');
        background-size: cover;
        background-position: center top !important;
        background-repeat: no-repeat;
    }

    .maincard .card_3 {
        background-image: url('../images/banner\ 1920x1280________.png');
        background-size: cover;
        background-position: end;
        background-repeat: no-repeat;

    }

    .maincard .card_4 {
        background-image: url('../images//truck-banner.png');
        background-size: cover;
        background-position: start;
        background-repeat: no-repeat;

    }


    .Cardcontant {
        width: 90%;
        height: auto;
        margin: auto;
        /* border: 1px solid red; */
        padding: 35px 0px 0px 0px !important;
    }

    .card_icon {
        width: 80px;
        height: 80px;
        /* border: 1px solid white; */
        margin: auto;

        /* background-color: rgba(0, 0, 0, 0.535); */

    }

    .card_icon img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        display: block;
        margin: auto;
        margin-top: 10px;
        filter: invert(1);
    }

    .card_discription {
        margin-top: 40px;
        width: 100%;
        padding-top: 10px;
        height: 220px;
        /* border: 1px solid oldlace; */
        background-color: rgba(0, 0, 0, 0.535);
        border-radius: 8px;
    }

    .cardHeading {
        font-size: 24px;
        color: white;
        text-align: center;
        font-weight: 600;
    }

    .card_para {
        font-size: 15px;
        color: rgb(213, 213, 213);
        text-align: center;
        font-weight: 400;
        padding: 0px 7px;
        line-height: 27px;
    }

    .seeMore {
        text-decoration: none;
        cursor: pointer;
        margin-top: 5px;
        font-size: 12px;
        padding: 2px 20px;
        color: white;
        display: inline-block;
        background-color: #58C819;
        border-radius: 5px;


    }





    /* Residential Css */


    .RMain {
        width: 100%;
        height: auto;
        margin-top: 40px;
        padding: 10px 40px;


    }

    .Rrow {
        width: 90%;
        margin: auto;
        height: 190px;

        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        padding: 10px 10px;

    }

    .Rrow a {
        width: 100%;
        height: 100%;
    }

    .Ritems {
        flex: 1;
        height: 100%;
        background-color: #1dbfbf;
        border-radius: 70px 0px 80px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: 500ms;
    }

    .Ritems h3 {
        font-size: 22px;
        color: white;
        text-align: center;
        width: 55%;


    }

    .rightUpArrow {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 10px;
        fill: white;

    }



    /* Residential  Card  Css*/

    .residentialCard {
        margin: auto;
        padding: 10px 40px;
        margin-top: 60px;

    }


    .ns_residentialCard {
        width: 95%;
        height: auto;
        margin: auto;
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .RCImg {
        width: 45%;
        height: 500px;
    }

    .RCcontant {
        width: 55%;
        height: auto;
        padding: 0px 0px 10px 50px;
    }

    .ns_residentialCard .RCImg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }


    .RCcontantType {
        font-size: 22px;
        color: #1dbfbf;
        font-weight: 600;
        letter-spacing: 1.5px;
    }

    .ns_RCcontantType {
        font-size: 30px;
        font-weight: 600;
        margin: 35px 0px;
        letter-spacing: 1.2px;
        width: 90%;
    }

    .RCPera1 {
        font-size: 16.5px;
        width: 90%;
        margin-bottom: 40px;


    }

    .RCPera2 {
        font-size: 16.5 px;
        width: 90%;
        margin-bottom: 20px;
    }


    .enquerybtn {
        padding: 15px 50px;
        background-color: #58C819;
        color: white;
        font-weight: 600;
        border-radius: 2px;
    }




    /* situations css  */

    .situations.container {
        width: 100%;
        height: auto;
        margin-top: 80px !important;
        margin: auto;
        /* padding: 0px 40px; */
    }

    .situations {
        padding: 0px 0px;

    }
    .nssituations{
        padding: 0px 100px;
    }

    .STheading {
        width: 100%;
        font-weight: 600;
        text-align: center;
        margin: auto;
        background-color: #5AAAA0;
        padding: 20px 0px;
    }
    .STheading h2{
        font-size: 35px;
        width: 70%;
        font-weight: 600;
        text-align: center;
        margin: auto;
        color: white;
    }


    .STcontentCard {
        width: 100%;
        height: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;


    }

    .STcard {
        width: 50%;
        height: 300px;
        padding: 22px 10px;
    }

    .STcard .STnsCard {
        width: 95%;
        height: 100%;
        margin: auto;
        background-color: #1dbfbf;
        padding: 15px 20px;
        border-radius: 8px;
    }

    .STnsCard_heading {
        font-size: 26px;
        font-weight: 600;
        text-align: start;
        color: white;


    }

    .STnsCardContent {
        font-size: 18px;
        text-align: start;
        /* padding: 0px 30px; */
        margin-top: 17px;
        color: white;
    }




    /* Why choose  */

    .whyChoose {
        margin-top: 130px;
        /* padding: 0PX 100px; */
    }

    .whyChoose .overlay{
        background-color: rgba(0, 0, 0, 0.427) !important;
    }

    .whychooseHeading {
        text-align: center;
        font-size: 45px;
        margin-top: 40px;
        color: white;
        font-weight: 700;

    }
    .nsWhychoose{
        padding: 0px 40px;
    }

    .nsWhychoose .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        column-gap: 20px;
    }

    .nsWhychoose .list .Unlist:nth-child(1) {
        width: 50%;
        height: auto;
        /* border: 1px solid red; */
        /* padding-left: 100px; */
        margin-left: 20px;
    }
    .nsWhychoose .list .Unlist:nth-child(2) {
        width: 50%;
        height: auto;
        /* border: 1px solid red; */
        padding-left: 0px;
    }
    .nsWhychoose .list .Unlist{
        font-size: 28px;
        color: #d9d9d9;
        font-weight: 700;

       
    }

    .nsWhychoose .list .Unlist li{
        margin:30px 0px  !important;
        /* background-color: white; */
        display: flex;
        align-items: center;

    }

    .nsWhychoose .list .Unlist li::before{
        content: '';
        display: inline-block;
        z-index: 20;
        width: 70px;
        height: 60px;
        background-image: url('../icons/checkmark.svg');
        background-size: 50px 50px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(6);
    
    }



    /* commercial section  */


    .commercial{
        margin-top: 0px !important;
    }




    /* Our Happy Clints css  */

    .ourHappyClints_secction{
        margin: auto;
    }

    .nsHappyClints{
        width: auto;
        height: auto;
        /* border: 1px solid pink; */
        overflow-x: scroll;
        display: flex;
        align-items: center;
        column-gap: 20px;
        scroll-snap-type:x mandatory ;
        
    }

    .OHCheading{
        font-size: 35px;
        padding: 20px 0px;
        margin: 10px 0px;
        font-weight: 700;
        background-color: #5AAAA0;
        color: white;
    }

    .OHCItems{
        width: 300px;
        height: auto;
        padding: 10px 0px;
        /* border: 1px solid red; */
        flex: none;
        scroll-snap-align:center;
        text-align: center;
    
        
    }
    .OHCItems img{
    display: block;
    line-height: 150px;
    
       
    }

    .nsHappyClints::-webkit-scrollbar{
        display: none;
    }
}