.D_top_nav .list:hover a{
    color: #58C819;

}

.socialMedia a:hover svg{
    fill: #58C819;
    
}
.fotsocialmediaIcon a:hover svg{
    fill: #58C819;
    
}

.card:hover{
    /* box-shadow: 1px 1px 30px black; */

}

.card:hover .card_overlay{
    background-color: rgba(0, 0, 0, 0.088) !important; 
}

.Rrow a .Ritems:hover{
    background-color: #69eb1e;
/* transition: 500ms ; */
}

.ReqEnq a:hover{
color: #58C819;
}

.reviewSliderLeftBtn:hover ,.reviewSliderRightBtn:hover{
    /* background-color: #59c81987; */
    transition: 500ms;
}
.reviewSliderRightBtn:hover svg , .reviewSliderLeftBtn:hover svg{
    fill: rgb(0, 0, 0);
    transition: 500ms;
}

.fotItem ul li a:hover{
    color: #58C819;
}


.STnsCard:hover{
    background-color: #58C819;
}
