.D_top_nav .list:hover a{
    color: #28A9E0;

}

.socialMedia a:hover svg{
    fill: #28A9E0;
    
}

.card:hover{
    box-shadow: 1px 1px 30px black;

}

.card:hover .card_overlay{
    background-color: rgba(0, 0, 0, 0.088) !important; 
}

.Rrow a .Ritems:hover{
    background-color: #257090;
transition: 500ms ;
}